# Python
__pycache__/
*.py[cod]
*.so
.Python

# Virtual environment
.venv/
venv/
env/

# IDE
.idea/
.vscode/
*.swp

# Django
*.log
db.sqlite3
media/
static/

# Environment variables
.env

# OS
.DS_Store
Thumbs.db