# Docker
.env.docker
*.log
celerybeat-schedule
celerybeat.pid

# Python
__pycache__/
*.py[cod]
*.so
.Python
.venv/
venv/
env/

# Django
*.log
db.sqlite3
media/
static/

# Environment variables
.env

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# Fixtures (опционально - если не хотите хранить тестовые данные)
# users/fixtures/*.json
# materials/fixtures/*.json